@{
    ViewBag.Title = "About";
}
<h2>Brainy search</h2>
@*<h3>It is a good decision for resolving your problems. Brainy search can halp you to find only necessary information.</h3>*@

<p>It is a good decision for resolving your problems. Brainy search can halp you to find only necessary information.</p>
