@model BrainySearch.Models.Lectures.LecturesListViewModel
@{
    ViewBag.Title = "Lectures";
}

<div>
    @foreach (var lecture in Model.Lectures)
    {
        <div class="jumbotron">
            <h2>@lecture.LectureTheme</h2>
            <p>@lecture.ShortText</p>
            <div style="text-align:right;">
                @Html.ActionLink("Show details...", "LectureDetails", "Lectures", new { lectureId = lecture.LectureId }, new { @style = "font-size:18px;text-decoration:underline;" })
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}