/*
    Page body: default background and foreground
*/
body {
    background-color: white;
    color: #2A8E00;
}

/*
    Navigation bar in the top of page
*/
.navbar-inverse {
    background-color: #A4F43D;
    color: black;
}
.navbar-brand {
    font-size: 22px;
}
/*
    Navigation bar buttons style
*/
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-nav {
    font-size: 16px;
}

/*
    Default style for button
*/

.btn {
    color: #1F6402;
    background: #BAF46E;
}

.btn:hover,
.btn:focus {
    color: #1F6402;
    background: #D7F9A9;
}

.navbar-brand {
    float: none;
}

.navbar-nav {
    margin: 7.5px -15px
}

h1, h2 {
    margin-top: 40px;
}

a, i {
    color: #1F6402;
}

a:hover, i:hover {
    color: #1F6402;
}

/*hr {
    right: 0;
    left: 0;
}*/

.a-link {
    text-decoration: underline;
}

.btn,
.input-sm,
.input-lg,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 75%;
  background-color: white;
}


/* Link group */

.link-group,
.link-group-vertical {
  position: relative;
  vertical-align: middle;
  margin-right: 5px;
}

.link-group a + a,
.link-group a + .link-group,
.link-group .link-group + a,
.link-group .link-group + .link-group {
}

/* Full page area */

.textarea-fullpage{
    max-width: none;
    padding: 10px;
    overflow: hidden; 
    word-wrap: break-word; 
    resize: horizontal; 
    height: 52px;
}

.jumbotron {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: #F1F4F1;
}

.container .jumbotron {
  border-radius: 0;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
  background-color: #BAF46E;
}

.panel-heading {
    font-size: 16px;
    color: #1F6402;
    border-radius: 0;
}

.action-link {
    font-size:16px;
    text-decoration:underline;
    font-style: italic;
}