/*
    Page body: default background and foreground
*/
body {
    background-color: #94D3E8;
    color: #153243;
}

/*
    Navigation bar in the top of page
*/
.navbar-inverse {
    background-color: #62929E;
}

/*
    Navigation bar links style
*/
.navbar-inverse .navbar-nav > li > a {
    color: #042A2B;
}

/*
    Navigation bar buttons style
*/
.navbar-inverse .navbar-brand {
    color: #042A2B;
}

/*
    Rectangle on the page
*/
.jumbotron {
    margin-top: 20px;
    background-color: #CDD7D6;
}